In [11]:

# Dependencies
import pandas as pd
import numpy as np

In [12]:
# Name of the CSV file
file = 'data/GlobalLandTemperaturesByMajorCity.csv'
file

'data/GlobalLandTemperaturesByMajorCity.csv'

In [13]:
# The correct encoding must be used to read the CSV in pandas
df = pd.read_csv(file, encoding="ISO-8859-1")

In [14]:

# Preview of the DataFrame
# Note that FIELD8 is likely a meaningless column
df.head()

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1849-01-01,26.704,1.435,Abidjan,CÃ´te D'Ivoire,5.63N,3.23W
1,1849-02-01,27.434,1.362,Abidjan,CÃ´te D'Ivoire,5.63N,3.23W
2,1849-03-01,28.101,1.612,Abidjan,CÃ´te D'Ivoire,5.63N,3.23W
3,1849-04-01,26.140,1.387,Abidjan,CÃ´te D'Ivoire,5.63N,3.23W
4,1849-05-01,25.427,1.200,Abidjan,CÃ´te D'Ivoire,5.63N,3.23W

In [15]:
# The Amount column is the wrong data type. It should be numeric.
df.dtypes

dt                                object
AverageTemperature               float64
AverageTemperatureUncertainty    float64
City                              object
Country                           object
Latitude                          object
Longitude                         object
dtype: object

In [16]:
# Drop all rows with missing information
df = df.dropna(how='any')

In [17]:
# Verify dropped rows
df.count()

dt                               228175
AverageTemperature               228175
AverageTemperatureUncertainty    228175
City                             228175
Country                          228175
Latitude                         228175
Longitude                        228175
dtype: int64

In [18]:
df.head(10)

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1849-01-01,26.704,1.435,Abidjan,CÃ´te D'Ivoire,5.63N,3.23W
1,1849-02-01,27.434,1.362,Abidjan,CÃ´te D'Ivoire,5.63N,3.23W
2,1849-03-01,28.101,1.612,Abidjan,CÃ´te D'Ivoire,5.63N,3.23W
3,1849-04-01,26.140,1.387,Abidjan,CÃ´te D'Ivoire,5.63N,3.23W
4,1849-05-01,25.427,1.200,Abidjan,CÃ´te D'Ivoire,5.63N,3.23W
5,1849-06-01,24.844,1.402,Abidjan,CÃ´te D'Ivoire,5.63N,3.23W
6,1849-07-01,24.058,1.254,Abidjan,CÃ´te D'Ivoire,5.63N,3.23W
7,1849-08-01,23.576,1.265,Abidjan,CÃ´te D'Ivoire,5.63N,3.23W
8,1849-09-01,23.662,1.226,Abidjan,CÃ´te D'Ivoire,5.63N,3.23W
9,1849-10-01,25.263,1.175,Abidjan,CÃ´te D'Ivoire,5.63N,3.23W

In [22]:
new_df =df.loc[df["dt"] >= "1900-01-01", :]
new_df.head()

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
613,2/1/1900,27.816,0.789,Abidjan,CÃ´te D'Ivoire,5.63N,3.23W
614,3/1/1900,28.395,1.296,Abidjan,CÃ´te D'Ivoire,5.63N,3.23W
615,4/1/1900,27.706,0.501,Abidjan,CÃ´te D'Ivoire,5.63N,3.23W
616,5/1/1900,26.753,0.458,Abidjan,CÃ´te D'Ivoire,5.63N,3.23W
617,6/1/1900,25.180,0.733,Abidjan,CÃ´te D'Ivoire,5.63N,3.23W

In [24]:
#Dropping duplicates
new_df.drop_duplicates(subset=None, keep='first', inplace=False)
new_df.head()

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
613,2/1/1900,27.816,0.789,Abidjan,CÃ´te D'Ivoire,5.63N,3.23W
614,3/1/1900,28.395,1.296,Abidjan,CÃ´te D'Ivoire,5.63N,3.23W
615,4/1/1900,27.706,0.501,Abidjan,CÃ´te D'Ivoire,5.63N,3.23W
616,5/1/1900,26.753,0.458,Abidjan,CÃ´te D'Ivoire,5.63N,3.23W
617,6/1/1900,25.180,0.733,Abidjan,CÃ´te D'Ivoire,5.63N,3.23W

In [26]:
new_df.count()

dt                               91107
AverageTemperature               91107
AverageTemperatureUncertainty    91107
City                             91107
Country                          91107
Latitude                         91107
Longitude                        91107
dtype: int64

In [41]:
new_df =df.loc[df["dt"] >= "1900-01-01", :]
new_df.head()

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
613,2/1/1900,27.816,0.789,Abidjan,CÃ´te D'Ivoire,5.63N,3.23W
614,3/1/1900,28.395,1.296,Abidjan,CÃ´te D'Ivoire,5.63N,3.23W
615,4/1/1900,27.706,0.501,Abidjan,CÃ´te D'Ivoire,5.63N,3.23W
616,5/1/1900,26.753,0.458,Abidjan,CÃ´te D'Ivoire,5.63N,3.23W
617,6/1/1900,25.180,0.733,Abidjan,CÃ´te D'Ivoire,5.63N,3.23W

In [61]:
city_count=new_df['City'].unique()

In [64]:
city_count

array(['Abidjan', 'Addis Abeba', 'Ahmadabad', 'Aleppo', 'Alexandria',
       'Ankara', 'Baghdad', 'Bangalore', 'Bangkok', 'Belo Horizonte',
       'Berlin', 'BogotÃ¡', 'Bombay', 'BrasÃ\xadlia', 'Cairo', 'Calcutta',
       'Cali', 'Cape Town', 'Casablanca', 'Changchun', 'Chengdu',
       'Chicago', 'Chongqing', 'Dakar', 'Dalian', 'Dar Es Salaam',
       'Delhi', 'Dhaka', 'Durban', 'Faisalabad', 'Fortaleza', 'Gizeh',
       'Guangzhou', 'Harare', 'Harbin', 'Ho Chi Minh City', 'Hyderabad',
       'Ibadan', 'Istanbul', 'Izmir', 'Jaipur', 'Jakarta', 'Jiddah',
       'Jinan', 'Kabul', 'Kano', 'Kanpur', 'Karachi', 'Kiev', 'Kinshasa',
       'Lagos', 'Lahore', 'Lakhnau', 'Lima', 'London', 'Los Angeles',
       'Luanda', 'Madras', 'Madrid', 'Manila', 'Mashhad', 'Melbourne',
       'Mexico', 'Mogadishu', 'Montreal', 'Moscow', 'Nagoya', 'Nagpur',
       'Nairobi', 'Nanjing', 'New Delhi', 'New York', 'Paris', 'Peking',
       'Pune', 'Rangoon', 'Rio De Janeiro', 'Riyadh', 'Rome',
       'SÃ£o Paulo', 'Saint Petersburg', 'Salvador', 'Santiago',
       'Santo Domingo', 'Seoul', 'Shanghai', 'Shenyang', 'Singapore',
       'Surabaya', 'Surat', 'Sydney', 'Taipei', 'Taiyuan', 'Tangshan',
       'Tianjin', 'Tokyo', 'Toronto', 'Umm Durman', 'Wuhan', 'Xian'],
      dtype=object)

In [67]:
new_df.set_index('City')

,dt,AverageTemperature,AverageTemperatureUncertainty,Country,Latitude,Longitude
City,,,,,,
Abidjan,2/1/1900,27.816,0.789,CÃ´te D'Ivoire,5.63N,3.23W
Abidjan,3/1/1900,28.395,1.296,CÃ´te D'Ivoire,5.63N,3.23W
Abidjan,4/1/1900,27.706,0.501,CÃ´te D'Ivoire,5.63N,3.23W
Abidjan,5/1/1900,26.753,0.458,CÃ´te D'Ivoire,5.63N,3.23W
Abidjan,6/1/1900,25.180,0.733,CÃ´te D'Ivoire,5.63N,3.23W
Abidjan,7/1/1900,24.192,0.828,CÃ´te D'Ivoire,5.63N,3.23W
Abidjan,8/1/1900,23.473,1.209,CÃ´te D'Ivoire,5.63N,3.23W
Abidjan,9/1/1900,25.127,0.658,CÃ´te D'Ivoire,5.63N,3.23W
Abidjan,2/1/1901,27.913,0.772,CÃ´te D'Ivoire,5.63N,3.23W
Abidjan,3/1/1901,27.512,1.178,CÃ´te D'Ivoire,5.63N,3.23W
Abidjan,4/1/1901,26.816,1.270,CÃ´te D'Ivoire,5.63N,3.23W
Abidjan,5/1/1901,25.837,0.770,CÃ´te D'Ivoire,5.63N,3.23W
Abidjan,6/1/1901,25.195,0.536,CÃ´te D'Ivoire,5.63N,3.23W
Abidjan,7/1/1901,24.303,0.723,CÃ´te D'Ivoire,5.63N,3.23W
Abidjan,8/1/1901,24.152,0.883,CÃ´te D'Ivoire,5.63N,3.23W
Abidjan,9/1/1901,25.039,0.678,CÃ´te D'Ivoire,5.63N,3.23W
Abidjan,2/1/1902,27.370,0.964,CÃ´te D'Ivoire,5.63N,3.23W
Abidjan,3/1/1902,27.822,0.586,CÃ´te D'Ivoire,5.63N,3.23W
Abidjan,4/1/1902,26.625,1.260,CÃ´te D'Ivoire,5.63N,3.23W
Abidjan,5/1/1902,26.533,0.671,CÃ´te D'Ivoire,5.63N,3.23W
Abidjan,6/1/1902,25.186,1.568,CÃ´te D'Ivoire,5.63N,3.23W
Abidjan,7/1/1902,23.586,0.966,CÃ´te D'Ivoire,5.63N,3.23W
Abidjan,8/1/1902,23.464,0.612,CÃ´te D'Ivoire,5.63N,3.23W
Abidjan,9/1/1902,24.307,0.586,CÃ´te D'Ivoire,5.63N,3.23W
Abidjan,2/1/1903,26.682,1.252,CÃ´te D'Ivoire,5.63N,3.23W
Abidjan,3/1/1903,28.107,0.870,CÃ´te D'Ivoire,5.63N,3.23W
Abidjan,4/1/1903,27.139,1.221,CÃ´te D'Ivoire,5.63N,3.23W
Abidjan,5/1/1903,26.066,1.028,CÃ´te D'Ivoire,5.63N,3.23W
Abidjan,6/1/1903,24.180,0.714,CÃ´te D'Ivoire,5.63N,3.23W
Abidjan,7/1/1903,23.342,0.517,CÃ´te D'Ivoire,5.63N,3.23W
...,...,...,...,...,...,...
Xian,3/1/2010,6.969,0.297,China,34.56N,108.97E
Xian,4/1/2010,11.377,0.190,China,34.56N,108.97E
Xian,5/1/2010,18.365,0.218,China,34.56N,108.97E
Xian,6/1/2010,23.357,0.465,China,34.56N,108.97E
Xian,7/1/2010,25.722,0.276,China,34.56N,108.97E
Xian,8/1/2010,23.434,0.211,China,34.56N,108.97E
Xian,9/1/2010,19.630,0.240,China,34.56N,108.97E
Xian,2/1/2011,2.430,0.241,China,34.56N,108.97E
Xian,3/1/2011,5.924,0.524,China,34.56N,108.97E
Xian,4/1/2011,14.876,0.363,China,34.56N,108.97E
Xian,5/1/2011,18.225,0.266,China,34.56N,108.97E
Xian,6/1/2011,23.879,0.533,China,34.56N,108.97E
Xian,7/1/2011,24.895,0.343,China,34.56N,108.97E
Xian,8/1/2011,23.069,0.301,China,34.56N,108.97E
Xian,9/1/2011,16.775,0.208,China,34.56N,108.97E
Xian,2/1/2012,0.162,0.505,China,34.56N,108.97E
Xian,3/1/2012,6.430,0.249,China,34.56N,108.97E
Xian,4/1/2012,14.908,0.382,China,34.56N,108.97E
Xian,5/1/2012,19.041,0.372,China,34.56N,108.97E
Xian,6/1/2012,22.781,1.448,China,34.56N,108.97E
Xian,7/1/2012,24.646,1.750,China,34.56N,108.97E
Xian,8/1/2012,23.885,0.435,China,34.56N,108.97E
Xian,9/1/2012,17.028,1.405,China,34.56N,108.97E
Xian,2/1/2013,2.362,0.558,China,34.56N,108.97E
Xian,3/1/2013,10.110,0.480,China,34.56N,108.97E
Xian,4/1/2013,12.563,1.823,China,34.56N,108.97E
Xian,5/1/2013,18.979,0.807,China,34.56N,108.97E
Xian,6/1/2013,23.522,0.647,China,34.56N,108.97E
Xian,7/1/2013,25.251,1.042,China,34.56N,108.97E
Xian,8/1/2013,24.528,0.840,China,34.56N,108.97E

In [68]:
new_df.groupby['dt'].mean()

TypeError: 'method' object is not subscriptable